@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

@if (!User.IsInRole(FitnessClub3.Utility.Helper.Admin))
{
    <link rel="stylesheet" href="~/css/Reg.css" />
<div class="formi">
    <a asp-area="Identity" asp-page="/Account/Register"><button class="btn2">Регистрация</button></a>
    <a asp-area="Identity" asp-page="/Account/Login"><button class="btn2">Вход</button></a>
</div>
    <hr />
}

<div class="row">
    <div class="col-md-4 table-secondary">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            @if (User.IsInRole(FitnessClub3.Utility.Helper.Admin))
            {
                <h4>Създай нов акаунт.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.MiddleName"></label>
                    <input asp-for="Input.MiddleName" class="form-control" />
                    <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Age"></label>
                    <input asp-for="Input.Age" class="form-control" />
                    <span asp-validation-for="Input.Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Photo" class="control-label"></label>
                    <br>
                    <input asp-for="Input.Photo" id="customFile" />
                    <span asp-validation-for="Input.Photo" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" asp-for="Input.RoleName"></label>
                    <div class="col-md-10">
                        <select asp-for="Input.RoleName" asp-items="@FitnessClub3.Utility.Helper.GetRolesForDropDown(User.IsInRole(FitnessClub3.Utility.Helper.Admin))" class="form-control"></select>
                        <span asp-validation-for="Input.RoleName" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Регистрирай</button>
            }
            else
            {


                <h4>Създаване на акаунт.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group ">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.MiddleName"></label>
                    <input asp-for="Input.MiddleName" class="form-control" />
                    <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Age"></label>
                    <input asp-for="Input.Age" class="form-control" />
                    <span asp-validation-for="Input.Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Регистрирай</button>
            }
        </form>
    </div>

</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
